node_modules
dist
data
.env
.env.local
.git
.vscode
logs
temp
coverage
out
full-editor.png
porject-board-homepage.png
project-board-apps.png
project-board-editor.png
project-board-extract-media.png
project-board-music-app.png
recorded2.gif
recorded3.gif
