<form action="/api/auth/google" method="GET">
  <button
    type="submit"
    class="mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-gray-700 p-3 text-white hover:bg-gray-600"
  >
    <span class="iconify" data-icon="flat-color-icons:google" data-width="20" data-height="20"></span>
    Sign in with Google
  </button>
</form>

