@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {  .card {    background-color: var(--color-white);    border-radius: var(--rounded-lg);    padding: var(--spacing-6);    box-shadow: var(--shadow-xl);  }}


body {
       margin: 0;
       padding: 0;  
     }
    .markdown-body { padding: 10px; max-width: 90%; margin: 0 auto; }
    .markdown-body h1 {  }
    .markdown-body .group:hover button {
	  opacity: 1;
	}

	.markdown-body .transition-opacity {
	  transition-property: opacity;
	}
	.prose p {
	}
	h1 {
	  margin-bottom: 20px;
	  font-size: 1.8em;
	  font-weight: lighter;
	}
	h2 {
	  margin-bottom: 16px;
	  margin-top: 16px;
	  font-size: 1.6em;
	   font-weight: lighter;
	}
	h3 {
	  margin-top: 12px;
	  margin-bottom: 12px;
	  font-size: 1.4em;
	}
	h4 {
	  margin-top: 12px;
	  margin-bottom: 12px;
	  font-size: 1.3em;
	}
	h5 {
	  margin-top: 12px;
	  margin-bottom: 12px;
	  font-size: 1.2em;
	}
	h2 > code {
	 font-size: 1em;
	}
	h3 > code {
	 font-size: .9em;
	}
	p {
	 margin-bottom: 0.5rem;   /* Space between items */
	}
	ul {
	  list-style-type: disc;   /* Bullet style */
	  padding-left: 1.5rem;    /* Indent */
	  margin-bottom: 1rem;     /* Optional spacing */
	}
	ul li {
	  margin-bottom: 0.5rem;   /* Space between items */
	}
	ol{
	  list-style-type: decimal; /* Numbered list */
	  padding-left: 1.5rem;
	  margin-bottom: 1rem;
	}

	ol li {
	  margin-bottom: 0.5rem;
	}
	hr {
	  border-color: #111;
	  margin-top: 20px;
	  margin-bottom: 10px;
	}
	pre {
	  padding: 14px;
	  border: 1px solid #333;
	  border-radius: 10px;
	  background: #222;
	  overflow: auto;
	}
	pre code {
	  color: #999;
	}
