<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{#if title}}{{title}} | MyApp{{else}}MyApp{{/if}}</title>
  <link
      href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css'
      rel='stylesheet'
    />
  
</head>
<body class="bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-200">
    {{{body}}}
    <div id="root"></div>
  <script type="module" src="/assets/index.js"></script>
</body>
</html>
