<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to the App</title>
  </head>
  <body>
    <h1>Welcome, {{name}}!</h1>
    <p>Thanks for signing up with us. We're excited to have you on board.</p>
  </body>
</html>

